
.header{
  margin:auto;
  width: 100%;
  border: 3px solid green;
  padding: 10px;
  background-color: rgb(219, 233, 219); 
  text-align: center;
}

.header h1{
  font-family: cursive;
  color: rgb(212, 107, 21);
  font-size: 60px;
}
.header h2{
  color:  rgb(212, 107, 21);
  font-family:  Haettenschweiler, sans-serif;
}
